$background-color: rgba(246, 243, 243, 1);

$text-color: #343030;
$accent-color: #382e2b;
$hover-color: #776763;
$disabled-color: #c1b4b1;
$activate-color: #5b3a32;
$border-color: #e1e1e1;

$transition: 0.3s ease;
