@import './fonts';
@import './reset';
@import './typography';

html,
body {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

body {
  margin: 0;
  background: $background-color;
  font-family: 'Merriweather', serif;
  letter-spacing: 0;
}

.app {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

.main {
  flex: 1;
}

.container {
  max-width: 1256px;
  width: 100%;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

@media (max-width: 485px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
}